/* Estilos para o container principal da seção SOBRE MIM */
.conteudo__container__sobremim {
    display: flex;
    flex-direction: row;
    background-image: url(/img/blackot_antonina_desfoque.png);
    background-repeat: no-repeat;
    background-size: cover; /* Torna a imagem de fundo responsiva */
    height: 100vh; /* Altura igual à altura da viewport */
    justify-content: space-evenly;
    width: 100%;
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    
}


/* Estilos para o conteúdo de texto */
.conteudo__sobremim {
    width: 60%;
}

/* Estilos para a div que contém a imagem */
.img_sobremim {
    display: flex;
    height: 50%;
    margin-left: 0;
}

/* Estilos para a imagem */
.aboutmephoto {
    display: flex;
}

/* Estilos para o título "SOBRE MIM" */
.sobremim {
    display: flex;
    justify-content: center;
    font-size: 3rem; /* 2 rem */
    margin-bottom: 1rem; /* 1rem */
    
}

/* Estilos para o texto "aboutmetext" */
.aboutmetext {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 2px 0
}

/* Estilos para a citação */
.citacao {
    font-weight: 400;
    font-size: 1.4rem; /* 1.4 rem */
    margin-top: 5px;
    text-align: end;
}

/* Estilos para o nome do autor */
.name_autor {
    font-weight: 400;
    font-size: 1.4rem; /* 1.4 rem */
    text-align: end;
    margin: 1rem 0rem 0rem 0rem; /* 10px 40px 4px 90px */
}

/* Media queries para telas até 768px */
@media screen and (max-width: 760px) {
    .conteudo__container__sobremim {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centraliza verticalmente o conteúdo */
        width: 100%;
        align-items: center; /* Centraliza horizontalmente o conteúdo */
        gap: 10px;
    }
    .img_sobremim {
        height: 30%;
    }

    .aboutmephoto {
        height: 100%;
    }

    .conteudo__sobremim {
        width: 95%;
        gap: 10px;
       
        margin-bottom: 0rem; /* 30px em rem */
        margin-right: 0; /* Removido */
    }

    .sobremim {
        font-size: 15px;
        margin-bottom: 1rem; /* 1rem */
        text-align: center;
    }

    .aboutmetext {
        display: flex;
        font-size: 14px;
        margin: 0px;
        text-align: center;
        gap: 20px;
        
    }

    .citacao {
        width: 98%;
        font-size: 1.3rem; /* 1.4 rem */
       
        margin: 0px;
    
    }

    .name_autor {
        width: 98%;
        font-size: 1.3rem; /* 1 rem */
        margin: 0px;
    }
}



