/* Importa as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&display=swap');
/* Define a cor do texto como branco para todos os elementos */
* {
    color: white;
}

/* Estilos para o header */
header {
    position: fixed; /* Mantém o header fixo no topo */
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(/img/blackot_antonina_desfoque.png); /* Define uma imagem de fundo para o header */
    display: flex; /* Aplica flexbox para alinhar os itens */
    justify-content: space-evenly; /* Alinha os itens horizontalmente com espaçamento uniforme */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    height: 100px; /* Define a altura do header */
}

/* Estilos para o logotipo */
.logo_K {
    height: 70px; /* Define a altura do logotipo */
}

.nome_header {
    display: none;
}
/* Estilos para os links no header */
.links_header {
    font-family: "Roboto Slab", serif; /* Define a fonte */
    font-weight: 600; /* Define a espessura da fonte */
    font-size: 20px; /* Define o tamanho da fonte */
    display: flex; /* Aplica flexbox para os links */
    gap: 20px; /* Define o espaçamento entre os links */
}

/* Remove o sublinhado padrão dos links */
.sm_link, .t_link, .mkt_link, .ft_link, .twit_link {
    text-decoration: none;
}

/* Esconde a lista de ícones */
.icon_list {
    display: none;
}

/* Estilos adaptativos para telas com largura máxima de 798px */
@media screen and (max-width: 768px) {
    /* Ajusta o layout do header */
    header {
        display: flex;
        justify-content: space-between;
        height: 60px;
        width:  100%;
    }

    /* Esconde os links do header */
    .links_header {
        display: none;
    }
    /* Ajusta o tamanho e o espaçamento do logotipo */
    .logo_K {
        display: flex;
        height: 40px;
        padding: 10px;
    }

    .nome_header {
        display: flex;
        font-size: 20px;
        font-family: "Lugrasimo", cursive; /* Define a fonte */
        font-weight: 400; /* Define o peso da fonte */
    }

    /* Exibe a lista de ícones */
    .icon_list {
        display:flex;
        flex-direction: row;
        height: 40px;
        padding: 20px;
    }        
}

/* Estilos adaptativos para telas com largura máxima de 360px */
@media screen and (max-width: 360px) {
    /* Ajusta o layout do header */
    header {
        justify-content: space-between;
        gap: 10px;
        height: 10%; /* Ajusta a altura do header */
    }

    /* Esconde os links do header */
    .links_header {
        display: none;
    }

    /* Ajusta o tamanho e o espaçamento do logotipo */
    .logo_K {
        display: flex;
        height: 40px;
        padding: 20px;
    }

    .nome_header {
        display: flex;
        font-size: 10px;

    }

    /* Exibe a lista de ícones */
    .icon_list {
        display:flex;
        flex-direction: row;
        height: 40px;
        padding: 20px;
        } 
}
