@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&display=swap');

.conteudo__container__inicial {
    background-image: url(/img/blackot_antonina.jpg) ;
    height: 100vh; /* Define a altura para 100% da viewport height */
    display: flex;
    align-items: center; 
}

.conteudo__nome {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-size: 30px;
}

.conteudo_logo__contato {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 18px;
    gap: 50px;
}

.conteudo_logo__contato a {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.conteudo_logo__contato a img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.button_paginicial{
    
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.button_paginicial:hover {
    background-color: black;
}

